{erl_opts, [debug_info, warnings_as_errors]}.


{port_env,
 [{"DRV_LDFLAGS","-L${ZEROMQ_PREFIX}/lib -L${PWD}/deps/local/lib -lsodium -lzmq ${DRV_LDFLAGS} -lstdc++"},
  %% -rpath is a gnu ld specific option; perhaps -R might be better and allow this to be hoisted
  {"linux", "DRV_LDFLAGS", "-Wl,-rpath=${ZEROMQ_PREFIX}/lib -Wl,-rpath=${PWD}/deps/local/lib $DRV_LDFLAGS"},
  {"darwin", "DRV_LDFLAGS", "-L${ZEROMQ_PREFIX}/lib -Ldeps/local/lib -lsodium -lzmq $DRV_LDFLAGS"},
  {"DRV_CFLAGS","-Ic_src -I${ZEROMQ_PREFIX}/include -Ideps/local/include $DRV_CFLAGS"}]}.

{port_specs, [{"priv/erlzmq_drv.so", ["c_src/*.c"]}]}.

{pre_hooks,[{compile,"make -C c_src"},
            {clean, "make -C c_src clean"}]}.
